# TeamsFx files
env/.env.sandbox

# Python
.venv/
.localConfigs
.localConfigs.playground
.localConfigs
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# misc
.deployment
.DS_Store

# build
lib/

# Dev tool directories
/devTools/

# Claude
.claude/